#g-nav {
    position: fixed;
    z-index: 99 !important;
    top: 0;
    right: -200%;
    width: 35%;
    height: 100vh;
    background: #0368;
    transition: all 1.0s;
}

#g-nav.panelactive {
    right: 0;
}

#g-nav.panelactive #g-nav-list {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav ul {
    position: absolute;
    z-index: 99;
    transform: translate(-50%,0%);
    text-align: left;
}

#g-nav li:hover {
    background:  #0364;
}

#g-nav li {
    list-style: none;
    text-align: left;
}

/* #g-nav li a {
    color: #333;
    text-decoration: none;
    padding: 1rem;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
} */

/* #g-nav hr {
    height: 15px;
    background:  #80FF80DE;
    border: none;
} */

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/

/*=============================
.openbtn_top
=============================*/
.openbtn_top {
    position: absolute; 
    right: 22px;
    top: 23px;
    width: 50px;
    height: 44px;
    cursor: pointer;
    z-index: 99999998;
  }
  .openbtn_top span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #0368;
    border-radius: 4px;
  }
  .openbtn_top, .openbtn_top span {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box;
  }
  .openbtn_top span:nth-of-type(1) {
    top: 0;
  }
  .openbtn_top span:nth-of-type(2) {
    top: 20px;
  }
  .openbtn_top span:nth-of-type(3) {
    bottom: 0;
  }
  
  
  /*=============================
  #btn19
  =============================*/
  #btn19::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    content: '';
    width: 84px;
    height: 84px;
    margin: -45px 0 0 -45px;
    border-radius: 50%;
    border: 4px solid transparent;
    transition: all .75s;
  }
  #btn19.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
  }
  #btn19.active span:nth-of-type(2) {
    left: 60%;
    opacity: 0;
    -webkit-animation: active-btn19-bar02 .8s forwards;
    animation: active-btn19-bar02 .8s forwards;
  }
  @-webkit-keyframes active-btn19-bar02 {
    100% {
      height: 0;
    }
  }
  @keyframes active-btn19-bar02 {
    100% {
      height: 0;
    }
  }
  #btn19.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
  }
  #btn19.active::after {
    -webkit-animation: active-btn19 .7s .25s forwards;
    animation: active-btn19 .7s .25s forwards;
  }
  @-webkit-keyframes active-btn19 {
    0% {
      border-color: transparent;
      -webkit-transform: rotate(0);
    }
    25% {
      border-color: transparent #14141480 transparent transparent;
    }
    50% {
      border-color: transparent #14141480 #14141480 transparent;
    }
    75% {
      border-color: transparent #14141480 #14141480 #14141480;
    }
    100% {
      border-color: #14141480;
      -webkit-transform: rotate(-680deg);
    }
  }
  @keyframes active-btn19 {
    0% {
      border-color: transparent;
      transform: rotate(0);
    }
    25% {
      border-color: transparent #14141480 transparent transparent;
    }
    50% {
      border-color: transparent #14141480 #14141480 transparent;
    }
    75% {
      border-color: transparent #14141480 #14141480 #14141480;
    }
    100% {
      border-color: #14141480;
      transform: rotate(-680deg);
    }
}