#g-nav {
    position: fixed;
    z-index: 999 !important;
    top: 0;
    right: -120%;
    width: 25%;
    height: 100vh;
    background: #ccb162;
    transition: all 1.0s;
}

#g-nav.panelactive {
    right: 0;
}

#g-nav.panelactive #g-nav-list {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav ul {
    position: absolute;
    z-index: 999;
    top: 3rem;
    left: 50%;
    transform: translate(-50%,0%);
    text-align: center;
}

#g-nav li:hover {
    background:  #f4e7bf;
}

#g-nav li {
    list-style: none;
    text-align: center;
}

#g-nav li a {
    color: #333;
    text-decoration: none;
    padding: 1rem;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}

#g-nav hr {
    height: 0.4rem;
    background:  rgba(51, 255, 51, 0.75);
    border: none;
}

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn4{
    position: fixed;/*ボタン内側の基点となるためrelativeを指定*/
    background:rgba(255, 255, 255, 0);
    top:1rem;
    right: 1rem;
    z-index: 9999;
    cursor: pointer;
      width: 50px;
      height:50px;
    border-radius: 5px;
}

/*ボタン内側*/
.openbtn4 span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 5px;
    background: #141414;
    width: 45%;
}


.openbtn4 span:nth-of-type(1) {
top:13px; 
}

.openbtn4 span:nth-of-type(2) {
top:19px;
}

.openbtn4 span:nth-of-type(3) {
top:25px;
}

.openbtn4 span:nth-of-type(3)::after {
content:"Menu";/*3つ目の要素のafterにMenu表示を指定*/
position: absolute;
top:5px;
left:-2px;
color: #141414;
font-size: 0.6rem;
text-transform: uppercase;
}

/*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/

.openbtn4.active span:nth-of-type(1) {
    top: 14px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn4.active span:nth-of-type(2) {
opacity: 0;
}

.openbtn4.active span:nth-of-type(3){
    top: 26px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

.openbtn4.active span:nth-of-type(3)::after {
content:"Close";/*3つ目の要素のafterにClose表示を指定*/
    transform: translateY(0) rotate(-45deg);
top:5px;
left:4px;
}