/* ==================== reset.css   Ver 0.0.1 ==================== */
*{
    box-sizing: border-box;
    /* =====  ===== */
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    /* =====  ===== */
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    /* =====  ===== */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    /* =====  ===== */
    /* align-items: center;
    justify-content: center; */
}