/* ==================== config_style ==================== */
html{
    /* ==================== background color config style ==================== */
    /* background-color: aquamarine; */
    background: -moz-linear-gradient(top, #677efa 0%, #8e54db 100%);/*古いFireFox向け*/
    background: -webkit-linear-gradient(top, #677efa 0%, #8e54db 100%);/*古いSafariなど向け*/
    filter:progid:DXImageTransform.Microsoft.Gradient(
        startColorstr='#677efa',
        endColorstr='#8e54db',
        GradientType=0 );/*IE9以下向け*/
      /*background: linear-gradient(to bottom, #677efa 0%, #8e54db 100%);正規の指定*/
    background-repeat: no-repeat;
    /* ====================                               ==================== */

    /* ==================== Font Config style ==================== */
    font-size: 10px;
    font-weight: bold;
    font-family: "MV boli";
    /* ====================                   ==================== */
}

html:hover{
    cursor: crosshair;
}

/* ====================                   ==================== */

/* ====================                   ==================== */

body{
    height: 100vh;
    width: 100%;
}

/* ====================                   ==================== */

/* ==================== header style ==================== */

/* header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #036D;
    z-index: 999;
} */

.header_back{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #036D;
    z-index: 999;
}

header img{
    display: block;
    width: 100px;
    float: left;
    background-color: #0004;
}

header img:hover{
    background-color: #DEDEDE;
}

header h1, header h2{
    display: block;
}

header h1{
    padding-bottom: 1.8rem;
}

header h2{
    padding-bottom: 2.6rem;
}
.header_hr{
    position: fixed;
    top: 0;
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: chartreuse;
    height: 2.5px;
    width: 100%;
    padding: 0;
    border: 0;
}

/* ====================                   ==================== */

/* ==================== navigation menu style ==================== */

.openbtn_top{
    position: fixed;
    top: 50px;
    right: 25px;
    width: 50px;
    height: 44px;
    /* ===  === */
    cursor: pointer;
    z-index: 999999999;
}
.openbtn_top span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #7FFFD4;
    border-radius: 4px;
}
.openbtn_top, .openbtn_top span {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box;
}
.openbtn_top span:nth-of-type(1) {
    top: 0;
}
.openbtn_top span:nth-of-type(2) {
    top: 20px;
}
.openbtn_top span:nth-of-type(3) {
    bottom: 0;
}

/*============================= #btn19 =============================*/
#btn19::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    content: '';
    width: 84px;
    height: 84px;
    margin: -45px 0 0 -45px;
    border-radius: 50%;
    border: 4px solid transparent;
    transition: all .75s;
}
#btn19.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
}
#btn19.active span:nth-of-type(2) {
    left: 60%;
    opacity: 0;
    -webkit-animation: active-btn19-bar02 .8s forwards;
    animation: active-btn19-bar02 .8s forwards;
}
@-webkit-keyframes active-btn19-bar02 {
    100% {
        height: 0;
}
}
@keyframes active-btn19-bar02 {
    100% {
        height: 0;
}
}
#btn19.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
}
#btn19.active::after {
    -webkit-animation: active-btn19 .7s .25s forwards;
    animation: active-btn19 .7s .25s forwards;
}
@-webkit-keyframes active-btn19 {
    0% {
        border-color: transparent;
        -webkit-transform: rotate(0);
    }
    25% {
        border-color: transparent #7FFFD4 transparent transparent;
    }
    50% {
        border-color: transparent #7FFFD4 #7FFFD4 transparent;
    }
    75% {
        border-color: transparent #7FFFD4 #7FFFD4 #7FFFD4;
    }
    100% {
        border-color: #7FFFD4;
        -webkit-transform: rotate(-680deg);
    }
}
@keyframes active-btn19 {
    0% {
        border-color: transparent;
        transform: rotate(0);
    }
    25% {
        border-color: transparent #7FFFD4 transparent transparent;
    }
    50% {
        border-color: transparent #7FFFD4 #7FFFD4 transparent;
    }
    75% {
        border-color: transparent #7FFFD4 #7FFFD4 #7FFFD4;
    }
    100% {
        border-color: #7FFFD4;
        transform: rotate(-680deg);
    }
}

/*=============================        =============================*/

#g-nav{
    position: fixed;
    z-index: 99999999 !important;
    top: 52px;
    right: -100%;
    list-style-type: none;
    width: 50%;
    height: 80vh;
    text-decoration: none;
    transition: all 2.5s;
}

#g-nav.panelactive{
    right: 0;
    transition: all 2.5s;
}

#g-nav-list{
    background-color: #7FFFD480;
}

#g-nav-list hr{
    height: 2.5px;
    background-color: purple;
}

#g-nav-list ul{
    list-style-type: none;
}

.menu_p1:hover, .menu_p2:hover{
    background-color: #7FFFD4;
}

.menu_p1{
    color: #141414;
    font-size: 2rem;
}

.menu_p2{
    color: #141414;
    font-size: 1.5rem;
}

.home_btn, .home_btn2{
    position: fixed;
    border: 1px solid #036;
    padding: 0;
    text-align: center;
    height: 25px;
    z-index: 9999999;
}

.home_btn{
    bottom: 45px;
    right: 75px;
    width: 60px;
}

.home_btn2{
    bottom: 45px;
    right: 5px;
    width: 60px;
}

.home_btn:hover, .home_btn2:hover{
    background-color: #0368;
}

.home_btn_a, .home_btn_a2{
    font-weight: bold;
    font-size: 1.625rem;
}

.home_btn_a:hover, .home_btn_a2:hover{
    color: #FFF;
}

/* ====================                       ==================== */

/* ====================                       ==================== */

.pnkz_list{
    position: fixed;
    top: 102.5px;
}

.pnkz_list a{
    color: #141414;
    font-size: 1.75rem;
    margin-right: 5px;
    margin-left: 5px;
    border-left: 5px solid #141414;
    border-bottom: 1px solid #141414;
}

.pnkz_list a:visited{
    background-color: aquamarine;
}

.pnkz_list li{
    display: inline;
}

.pnkz_list a:hover{
    background-color: #7FFFD480;
}

.pnkz_list nav{
    height: 27.5px;
}

/* ====================                       ==================== */

/* ==================== main class style ==================== */

.top_m{
    height: 130px;
}

.main{
    font-size: 2rem;
    /* =====  ===== */
    height: 100vh;
}

.main_h1{
    margin-top: 2rem;
    margin-left: 1rem;
    border-left: 0.5rem solid #141414;
    border-bottom: 0.3rem dotted #036;
}

.main p{
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    background-color: #7FFFD420;
}

/* ====================                  ==================== */

/* ==================== footer style ==================== */

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEDEDE;
    z-index: 999999;
}

footer p{
    font-weight: bold;
    font-size: 0.8rem;
}

/* ====================                  ==================== */